/**********************************************************************/
/*  PROYECTO AMBLIOPÍA              */
/*  ALEJANDRO SÁNCHEZ MÁRQUEZ                  */

/**********************************************************************/


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--fuente-primaria);
  /*outline: 1px solid red;*/
}

:root {
  --color-fondo: hsl(0, 5%, 95%);

  --color-primario: hsl(231, 82%, 6%);
  --color-primario-claro: hsl(230, 5%, 49%);
  --color-primario-muy-claro: hsl(0, 0%, 92%);

  --color-fondo-tarjeta: hsl(0,0%,100%);
  
  --color-boton-pulsado: hsl(240, 3%, 81%);


  --fuente-primaria: 'Fredoka One','Gill Sans', 'Gill Sans MT',sans-serif;

  /* Entre ambas anchures deben sumar 100% */
  --ancho-menu: 25%;
  --ancho-panel: 75%;
} 


/**********************************************************************/

body {
  display: grid;
  grid-template-columns: var(--ancho-menu) var(--ancho-panel);
  width: clamp(60%, 100vw, 100%);
  height: 100vh;
} 

/**********************************************************************/



.menu {
    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: var( --color-fondo);
    background-color: var(--color-primario);

    width: var(--ancho-menu);
    height: 100%;

    padding: 3.5%;

    transition: transform 1.5s;

}

.boton_min{
    position: absolute;
    left: 110%;
    top: 5%;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 3em;

    font-size: 24px;
    color: black;
    cursor: pointer;
}

.boton_min:hover{
    background-color: var(--color-boton-pulsado);
}

.menu_cuerpo{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1em;
}

.menu_botones{
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 1em;
    padding: 1.5em;
    background-color: white;
}

.menu_boton{
    display: flex;
    justify-content: center;
    outline: 2px solid black;

    cursor: pointer;

    padding: 0.5em;
}

.menu_boton:hover{
    background-color: var(--color-boton-pulsado);
}
 
/**********************************************************************/

.panel {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;




  background-color: gray;

  grid-column: 2 / span 2;


  background-color: white; 
  
}



/**********************************************************************/

.minimizado{
    transform: translate(-100%,0px);
    transform-style: flat; 
    
}

.minimizado_panel{

  grid-column: 1 / span 2;
}

/**********************************************************************/


.bola{

  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;

}